/* ANTD */

.ant-menu-horizontal > .ant-menu-item-selected {
  color: white !important;
  border-bottom: 2px solid white !important;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  color: whitesmoke !important;
  border-bottom: 2px solid whitesmoke !important;
} 

.ant-menu-horizontal > .ant-menu-item > a {
  color: whitesmoke !important;
}

/* CUSTOM */

.fullMinHeight {
  min-height: 100vh !important;
}

.justifyStart {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;  
}
.justifyEnd {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;  
}
.justifyCenter,
.setCenterImg {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;  
}
.justifySpaceBetween {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;  
}

.setCenterImg {
  max-height: 500px;
}

.textCenter,
#signin-signup-form {
  text-align: center;
}

#signin-signup-form .signin-signup-form {
  min-width: 320px;
  max-width: 320px;
}
#signin-signup-form .signin-signup-form-remember {
  float: left;
}
#signin-signup-form .signin-signup-form-forgot {
  float: right;
}
#signin-signup-form .signin-signup-form-button {
  width: 100%;
}

.fixedNav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.formItemShowText {
  width: 100%;
  margin-bottom: 4px !important;
}
.formItemShowText label {
  font-weight: bold;
  color: #0F4C81 !important;
}
.formItemButton {
  width: 100%;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.not-found-page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.not-found-page .ant-result-image {
  margin: initial;
}