 .ant-menu-horizontal > .ant-menu-item-selected {
  color: white !important;
  border-bottom: 2px solid white !important;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  color: whitesmoke !important;
  border-bottom: 2px solid whitesmoke !important;
} 
.formItemShowText {
  width: 100%;
  margin-bottom: 4px !important;
}
.formItemShowText label {
  font-weight: bold;
<<<<<<< HEAD
  color: #41DAF0 !important;
=======
  color: #0F4C81 !important;
>>>>>>> eb932eacecdfb44807c7ff99210e42bfba1119a7
}
.formItemButton {
  width: 100%;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

