/* ANTD */

.ant-menu-horizontal>.ant-menu-item-selected {
  color: white !important;
  border-bottom: 2px solid white !important;
}

.ant-menu-horizontal>.ant-menu-item:hover {
  color: whitesmoke !important;
  border-bottom: 2px solid whitesmoke !important;
}

.ant-menu-horizontal>.ant-menu-item>a {
  color: whitesmoke !important;
}

.ant-list-grid .ant-row {
  display: flex;
}

.ant-list-grid .ant-col>.ant-list-item {
  height: calc(100% - 16px);
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* CUSTOM */

.fullMinHeight {
  min-height: 100vh !important;
}

.justifyStart {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.justifyEnd {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.justifyCenter {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.justifySpaceBetween {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.setCenterImg {
  max-height: 450px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden;
}

.carouselImg {
  max-height: inherit;
  max-width: inherit;
  width: 100%;
  object-fit: cover;
}

.textCenter,
#signin-signup-form {
  text-align: center;
}

#signin-signup-form .signin-signup-form {
  min-width: 300px;
  max-width: 300px;
}

#signin-signup-form .signin-signup-form-remember {
  float: left;
  margin-left: 10px;
}

#signin-signup-form .signin-signup-form-forgot {
  float: right;
  margin-right: 10px;
}

#signin-signup-form .signin-signup-form-button {
  width: 100%;
}

.fixedNav {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.formItemShowText {
  width: 100%;
  margin-bottom: 4px !important;
}

.formItemShowText label {
  font-weight: bold;
  color: #0F4C81 !important;
}

.formItemButton {
  width: 100%;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.not-found-page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.not-found-page .ant-result-image {
  margin: initial;
}

.quote-feedback {
  padding-left: 52px !important;
}

.quote-feedback::before {
  content: "\f10d";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 44px;
  color: #f0f0f0;
  line-height: normal;
}

.floatingButton {
  position: fixed !important;
  bottom: 40px;
  right: 40px;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50px !important;
  box-shadow: 2px 2px 3px #999 !important;
  font-size: 1.6em !important;
}

@media only screen and (max-device-width: 576px) {
  .setCenterImg {
    max-height: 300px;
  }
}