html {
  scroll-behavior: smooth;
}

body {
  /* min-height: 100vh;
  min-width: 100vw;
  margin: 0; */
  font-family: 'Kanit', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 